{% extends "index.html" %}

{% block content %}
  <div class="container mt-4">

	<!-- info about book -->
      <div class="">
        <div class="d-flex flex-column h-100 justify-content-center">
          <p class="mb-0">{{ book.body|safe }}</p>
        </div>
      </div>
    </div>

	<br>
	<br>

	<!-- comment form -->
	{% if request.user.is_authenticated %}
    <div class="row mt-3">
      <div class="col-md-12">
				<form action="{% url 'books:add_comment' book.slug %}" method="post">
					{% csrf_token %}
					<div class="form-group">
						<label for="exampleInputUsername">Username</label>
						<input name="username" type="text" class="form-text text-muted also-bg" id="exampleInputUsername" placeholder="Enter username">
					</div>
					<div class="form-group">
						<label for="exampleInputComment">Comment</label>
						<p>
							<textarea class="also-bg color-text" name="body" id="exampleInputComment" cols="115" rows="5"></textarea>
						</p>
						<button class="btn btn-outline-light" type="submit">Add comment <i class="bi bi-send-fill"></i></button>
					</div>
        </form>
      </div>
    </div>
		{% else %}
			<div class="card also-bg">
				<div class="card-title text-center">
					Comments can only be left by authenticated users.
				</div>
			</div>
		{% endif %}

		<!-- list comments -->
		{% for comment in comments %}
		<div class="card border border-white also-bg">
			<div class="card-body">
				<h5 class="card-title">{{ comment.username }}</h5>
				<p class="card-text">{{ comment.body }}</p>
				<p class="card-text"><small class="text-muted">{{ comment.publish_date }}</small></p>
			</div>
		</div>
		{% endfor %}
  </div>
{% endblock content %}
