{% extends "index.html" %}

{% block content %}
<!-- books cards -->
{% if books %}
	<div class="row">
		{% for book in books %}
			<div class="col-12 col-md-4">
				<div class="card also-bg">
					<img src="{{ book.image.url }}" alt="{{ book.title }}" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title"><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></h5>
						<div class="card-footer">
							<small class="text-muted">Publish {{ book.publish_date }} by {{ book.author }}</small>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

	<br>
	<!-- paginator -->
	{% include "included/paginator.html" %}

<!-- if not books -->
{% else %}
	{% if q %}
		<h1 class="text-center"><strong>No books found for "{{ q }}"</strong></h1>
	{% else %}
		<h1 class="text-center"><strong>No books found</strong></h1>
	{% endif %}
{% endif %}

{% endblock content %}
