{% extends "index.html" %}

{% block content %}
	<div class="card-deck">
		{% for book in books %}
		<div class="card" style="background-color: #121212;">
			<img src="{{ book.image_card.url }}" alt="" class="card-img-top">
			<div class="card-body">
				<h5 class="card-title"><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></h5>
				<p class="card-text">{{ book.body|truncatechars:200 }}</p>
				<div class="card-footer">
					<small class="text-muted btn btn-link">Publish {{ book.publish_date }} by {{ book.author }}</small>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
{% endblock content %}
