@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
	font-family: 'Lato', sans-serif;
}
.nav-bg {
	background-color: #BB86FC;
}
.also-bg {
	background-color: #121212;
}
.color-text {
	color: #ffffff;
}
.button-bg {
	background-color: #03DAC5;
}
